// We set 'position: relative' to cater For 'position: absolute' fullscreen
// divs that are a direct child element of <body>.
body {
  position: relative;
  color: white;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#q-app {
  position: relative;
  width: 100%;
  height: 100%;
}

.focus-white:focus {
  color: #ffffff;
  outline: none;
}
